<h1>Listing thermostat_models</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Thermostat</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @thermostat_models.each do |thermostat_model| %>
      <tr>
        <td><%= thermostat_model.name %></td>
        <td><%= thermostat_model.Thermostat %></td>
        <td><%= link_to 'Show', thermostat_model %></td>
        <td><%= link_to 'Edit', edit_thermostat_model_path(thermostat_model) %></td>
        <td><%= link_to 'Destroy', thermostat_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thermostat model', new_thermostat_model_path %>
