<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @observacion.text %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @observacion.issue %>
</p>

<%= link_to 'Edit', edit_observacion_path(@observacion) %> |
<%= link_to 'Back', observacions_path %>
